html, body, div.outer {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

div.map-row, div.map-column {
  height: 100%;
}

cite {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 220px;
  font-size: 0.8em;
}